<div id = "main">
  <h1>Sunrise, sunset and lenght of day</h1>
  <!--"Form" 1. etapi sisestuste jaoks(laiuskraad, pikkuskraad, kuupäev)-->
  <form class="form" (ngSubmit)="vajutamisel(laiuskraad,pikkuskraad,kuupaev)">
  <p>Enter latitude: </p>
  <input type="number" name="laiuskraad" [(ngModel)]="laiuskraad" min="-90" max="90">
  <p>Enter longitude: : </p>
  <input type="number" name="pikkuskraad" [(ngModel)]="pikkuskraad" min="-180" max="180">
  <p>Enter date:</p>
  <input type="date" name="kuupaev" [(ngModel)]="kuupaev">
  <p></p>
  <button id="nupp" type="submit">Submit</button>
  <br>
</form>
<!--Div 1.etapi tulemuste ja kaardi kuvamiseks-->
<div class="tulemused">
<div id = "tulemustous"> </div>
<div id = "tulemusloojang"></div>
<div id = "paevapikkus"></div>
<div id="map" class="map">
  <h1>Map:</h1>
</div>
<!--"Form2" 3.etapi sisestuste jaoks(graafiku alguskuupäev ja lõppkuupäev)-->
<form class="form2" (ngSubmit)="vajutamisel2(alguskuupaev,loppkuupaev)">
  <h1>Graph: </h1>
  <p>Enter start date for graph:</p>
  <input type="date" name="alguskuupaev" [(ngModel)]="alguskuupaev">
  <p>Enter end date for graph:</p>
  <input type="date" name="loppkuupaev" [(ngModel)]="loppkuupaev">
  <p></p>
  <button id="nupp" type="submit">Submit</button>
  <br>
</form>
<!--Graafik-->
<canvas id="graafik" width="400" height="400"></canvas>
</div>
